<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidewalks Map</title>
    
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    
    <style>
        #map {
            height: 100vh;
            width: 100%;
        }
    </style>
</head>
<body>
    
    <div id="map"></div>
    
    <script>
        var map = L.map('map').setView([42.342999, -71.069216], 18);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var sidewalkFeatures = {};
        var sidewalkLayer; // Variable to hold the GeoJSON layer

        function sidewalkStyle(status) {
            let color;
            switch (status) {
                case "unresolved":
                    color = '#FF0000'; // Red for unresolved
                    break;
                case "missing":
                    color = '#00ffff'; // Cyan for missing
                    break;
                case "ok":
                default:
                    color = '#327da8'; // Blue for ok
                    break;
            }
            return {
                color: color,
                weight: 2,         // Bold line
                opacity: 0.8       // Slight transparency
            };
        }

        function submitForm(sidewalkId) {
            var scheduleId = document.getElementById('schedule_id').value;
            var status = document.getElementById('sidewalk_status').value;

            fetch(`http://127.0.0.1:5000/sidewalks/${sidewalkId}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    schedule_id: scheduleId,
                    status: status,
                })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json(); // or response.text() if the server returns text
            })
            .then(data => {
                console.log('Success:', data); // Handle the response data
                drawFeature(data);
            })
            .catch(error => {
                console.error('Error:', error); // Handle errors
            });
        }

        function drawFeature(sidewalkData) {
            if (sidewalkFeatures[sidewalkData.id]) {
                map.removeLayer(sidewalkFeatures[sidewalkData.id]); // Remove the old feature
            }
            var featureLayer = L.geoJSON(JSON.parse(sidewalkData.geojson), {
                style: sidewalkStyle(sidewalkData.status),
                onEachFeature: function (feature, layer) {
                    const tooltipContent = `ID: ${sidewalkData.id} Schedule ID: ${sidewalkData.schedule_id} Street: ${sidewalkData.street_name} ${sidewalkData.side} Side. From ${sidewalkData.from_street_name} To ${sidewalkData.to_street_name}`;
                    
                    layer.bindTooltip(tooltipContent, { permanent: false, direction: 'top' });
                    
                    var popupContent = `
                        <form id="popupForm">
                            <label for="schedule_id">Corrected Schedule ID:</label><br>
                            <input type="text" id="schedule_id" name="schedule_id" value=${sidewalkData.schedule_id}><br>
                            
                            <label for="sidewalk_status">Sidewalk Status:</label>
                            <select name="sidewalk_status" id="sidewalk_status">
                                <option value="missing" ${sidewalkData.status === 'missing' ? 'selected' : ''}>Missing</option>
                                <option value="unresolved" ${sidewalkData.status === 'unresolved' ? 'selected' : ''}>Unresolved</option>
                                <option value="ok" ${sidewalkData.status === 'ok' ? 'selected' : ''}>OK</option>
                            </select>
                            <button type="button" onclick="submitForm(${sidewalkData.id})">Submit</button>
                        </form>
                    `;
                    layer.bindPopup(popupContent);
                }
            }).addTo(map);
            sidewalkFeatures[sidewalkData.id] = featureLayer;
        }

        async function fetchSidewalks() {
            try {
                const response = await fetch('http://127.0.0.1:5000/sidewalks');
                const data = await response.json();

                // // Remove existing sidewalk layer if it exists
                // if (sidewalkLayer) {
                //     map.removeLayer(sidewalkLayer);
                // }

                // // Create a new GeoJSON layer
                // sidewalkLayer = L.geoJSON(null, {
                //     style: function(feature) {
                //         // Apply style based on the sidewalk data
                //         const sidewalk = data.data.find(s => s.id === feature.properties.id);
                //         return sidewalkStyle(sidewalk);
                //     },
                //     onEachFeature: function (feature, layer) {
                //         const sidewalk = data.data.find(s => s.id === feature.properties.id); // Find sidewalk by ID
                //         const tooltipContent = `ID: ${sidewalk.id} Schedule ID: ${sidewalk.schedule_id} Street: ${sidewalk.street_name} ${sidewalk.side} Side. From ${sidewalk.from_street_name} To ${sidewalk.to_street_name}`;
                        
                //         if (sidewalk.street_name) {
                //             layer.bindTooltip(tooltipContent, { permanent: false, direction: 'top' });
                //         }
                        
                //         var popupContent = `
                //             <form id="popupForm">
                //                 <label for="schedule_id">Corrected Schedule ID:</label><br>
                //                 <input type="text" id="schedule_id" name="schedule_id" value=${sidewalk.schedule_id}><br>
                                
                //                 <label for="sidewalk_status">Sidewalk Status:</label>
                //                 <select name="sidewalk_status" id="sidewalk_status">
                //                     <option value="missing" ${sidewalk.status === 'missing' ? 'selected' : ''}>Missing</option>
                //                     <option value="unresolved" ${sidewalk.status === 'unresolved' ? 'selected' : ''}>Unresolved</option>
                //                     <option value="ok" ${sidewalk.status === 'ok' ? 'selected' : ''}>OK</option>
                //                 </select>
                //                 <button type="button" onclick="submitForm(${sidewalk.id})">Submit</button>
                //             </form>
                //         `;
                //         layer.bindPopup(popupContent);
                //     }
                // }).addTo(map);

                // Add the updated sidewalks to the GeoJSON layer
                data.data.forEach(sidewalk => {
                    // var featureLayer = sidewalkLayer.addData({
                    //     type: "Feature",
                    //     geometry: JSON.parse(sidewalk.geojson),
                    //     properties: sidewalk
                    // });
                    // sidewalkFeatures[sidewalk.id] = featureLayer;
                    drawFeature(sidewalk);
                });
                // sidewalkLayer.addData(data.data.map(sidewalk => ({
                //     type: "Feature",
                //     geometry: JSON.parse(sidewalk.geojson),
                //     properties: sidewalk
                // })));
            } catch (error) {
                console.error('Error fetching sidewalks:', error);
            }
        }

        function refreshSidewalks() {
            fetchSidewalks(); // Fetch and update sidewalks after a successful form submission
        }

        // Fetch and display the sidewalks when the page loads
        fetchSidewalks();
    </script>
    
</body>
</html>
