<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>opensweepmap</title>
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    
    <style>
        #map {
            height: 100vh;
            width: 100%;
        }
    </style>
</head>
<body>
    
    <div id="map"></div>
    
    <script>
        var serverHost = "{{ server_host }}";

        var map = L.map('map').setView([42.342999, -71.069216], 18);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var sidewalkFeatures = {};

        function sidewalkStyle(status) {
            let color;
            switch (status) {
                case "unresolved":
                    color = '#FF0000'; // Red for unresolved
                    break;
                case "missing":
                    color = '#00ffff'; // Cyan for missing
                    break;
                case "ok":
                default:
                    color = '#327da8'; // Blue for ok
                    break;
            }
            return {
                color: color,
                weight: 2,         // Bold line
                opacity: 0.8       // Slight transparency
            };
        }

        function submitForm(sidewalkId) {
            var scheduleId = document.getElementById('schedule_id').value;
            var status = document.getElementById('sidewalk_status').value;

            fetch(`${serverHost}/sidewalks/${sidewalkId}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    schedule_id: scheduleId,
                    status: status,
                })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Success:', data);
                drawFeature(data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        function drawFeature(sidewalkData) {
            if (sidewalkFeatures[sidewalkData.id]) {
                map.removeLayer(sidewalkFeatures[sidewalkData.id]);
            }
            var featureLayer = L.geoJSON(JSON.parse(sidewalkData.geojson), {
                style: sidewalkStyle(sidewalkData.status),
                onEachFeature: function (feature, layer) {
                    const tooltipContent = `ID: ${sidewalkData.id} Schedule ID: ${sidewalkData.schedule_id} Street: ${sidewalkData.street_name} ${sidewalkData.side} Side. From ${sidewalkData.from_street_name} To ${sidewalkData.to_street_name}`;
                    
                    layer.bindTooltip(tooltipContent, { permanent: false, direction: 'top' });
                    
                    var popupContent = `
                        <form id="popupForm">
                            <label for="schedule_id">Corrected Schedule ID:</label><br>
                            <input type="text" id="schedule_id" name="schedule_id" value=${sidewalkData.schedule_id}><br>
                            
                            <label for="sidewalk_status">Sidewalk Status:</label>
                            <select name="sidewalk_status" id="sidewalk_status">
                                <option value="missing" ${sidewalkData.status === 'missing' ? 'selected' : ''}>Missing</option>
                                <option value="unresolved" ${sidewalkData.status === 'unresolved' ? 'selected' : ''}>Unresolved</option>
                                <option value="ok" ${sidewalkData.status === 'ok' ? 'selected' : ''}>OK</option>
                            </select>
                            <button type="button" onclick="submitForm(${sidewalkData.id})">Submit</button>
                        </form>
                    `;
                    layer.bindPopup(popupContent);
                }
            }).addTo(map);
            sidewalkFeatures[sidewalkData.id] = featureLayer;
        }

        async function fetchSidewalks() {
            try {
                const response = await fetch(`${serverHost}/sidewalks`);
                const data = await response.json();

                data.data.forEach(sidewalk => {
                    drawFeature(sidewalk);
                });
            } catch (error) {
                console.error('Error fetching sidewalks:', error);
            }
        }

        function refreshSidewalks() {
            fetchSidewalks();
        }

        fetchSidewalks();
    </script>
    
</body>
</html>
