<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>opensweepmap</title>
    
    <script src='https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.js'></script>
    <link href='https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.css' rel='stylesheet' />

    <style>
        #map {
            height: 100vh;
            width: 100%;
        }
    </style>
</head>
<body>
    <div id='map'></div>
    <script>
        var authTokenKey = "SM_TOKEN";
        var serverUrl = '{{ server_url }}';
        const sidewalksUrl = `${serverUrl}/sidewalks/geojson`;

        var map = new maplibregl.Map({
            container: 'map',
            style: 'https://api.maptiler.com/maps/5a2d1bdc-0430-4aac-898b-ef3a7a500b73/style.json?key=SLnm1JNOPIPyy6cm6NrF',
            center: [-71.069216, 42.342999],
            zoom: 18
        });

        let highlightedSidewalkId = null;

        map.on("load", () => {

            // add the tile source from FastAPI tile server
            map.addSource("sidewalks", {
                type: "geojson",
                data: sidewalksUrl,
            });

            // enable highlighting of sidewalks
            map.addLayer({
                id: "sidewalks-layer",
                type: "line",
                source: "sidewalks",
                paint: {
                    'line-width': [
                        'case',
                        ['boolean', ['feature-state', 'highlighted'], false], 5,
                        2
                    ],
                    'line-color': [
                        'match', 
                        ['get', 'status'],
                        'missing', '#00ffff',  // cyan for missing
                        'unresolved', '#FF0000',  // red for unresolved
                        'ok', '#327da8',  // blue for ok
                        '#000000'
                    ],
                }
            });

            // enable highlighting of sidewalks
            map.addLayer({
                id: "sidewalks-layer-click",
                type: "line",
                source: "sidewalks",
                paint: {
                    'line-color': 'transparent',
                    'line-width': 20
                }
            });

            map.on("click", "sidewalks-layer-click", (e) => {
                const sidewalkId = e.features[0].id;
                const sidewalkData = e.features[0].properties;

                if (highlightedSidewalkId) {
                    map.setFeatureState(
                        { source: 'sidewalks', id: highlightedSidewalkId },
                        { highlighted: false }
                    );
                }
                highlightedSidewalkId = sidewalkId;
                map.setFeatureState(
                    { source: 'sidewalks', id: sidewalkId },
                    { highlighted: true }
                );

                var popupHtml = getEditPopup(
                    sidewalkId,
                    sidewalkData.schedule_id,
                    sidewalkData.status
                );

                new maplibregl.Popup({ offset: 10 })
                    .setLngLat(e.lngLat)
                    .setHTML(popupHtml)
                    .addTo(map);
            });

            map.on("click", (e) => {
                tooltip.remove();
                const features = map.queryRenderedFeatures(e.point, {
                    layers: ["sidewalks-layer-click"]
                });

                if (!features.length) {
                    if (highlightedSidewalkId) {
                        map.setFeatureState(
                            { source: 'sidewalks', id: highlightedSidewalkId },
                            { highlighted: false }
                        );
                        highlightedSidewalkId = null;
                    }
                }
            });

            const tooltip = new maplibregl.Popup({
                closeButton: false,
                closeOnClick: false,
                offset: 10,
            });

            map.on("mousemove", "sidewalks-layer-click", (e) => {
                if (e.features.length > 0) {
                    const feature = e.features[0];

                    const scheduleId = feature.properties.schedule_id;
                    const status = feature.properties.status;
                    const streetName = feature.properties.street_name;
                    const side = feature.properties.side;
                    const fromStreet = feature.properties.from_street_name;
                    const toStreet = feature.properties.to_street_name;

                    map.getCanvas().style.cursor = 'pointer';
                    tooltip.remove();

                    var tooltipContent = `
                        <strong>Schedule ID:</strong> ${scheduleId}<br/>
                        <strong>Street:</strong> ${streetName} ${getStreetSideText(side)}<br/>
                        <strong>From:</strong> ${fromStreet}<br/>
                        <strong>To:</strong> ${toStreet}<br/>
                        <strong>Status:</strong> ${status}<br/>
                    `;

                    tooltip
                        .setLngLat(e.lngLat)
                        .setHTML(tooltipContent)
                        .addTo(map);
                }
            });

            // Remove the popup when the mouse leaves the layer
            map.on("mouseleave", "sidewalks-layer-click", () => {
                tooltip.remove();
                map.getCanvas().style.cursor = '';
            });
        });

        function getStreetSideText(side) {
            if (side == 'none') {
                return "";
            } else {
                return `(${side} side${side == 'both' ? 's' : ''})`;
            }
        }

        function getEditPopup(id, schedule_id, status) {
            return `
                <form id="popupForm">
                    <label for="schedule_id">Corrected Schedule ID:</label><br>
                    <input type="text" id="schedule_id" name="schedule_id" value="${schedule_id}"><br>
                    
                    <label for="sidewalk_status">Sidewalk Status:</label>
                    <select name="sidewalk_status" id="sidewalk_status">
                        <option value="missing" ${status === 'missing' ? 'selected' : ''}>Missing</option>
                        <option value="unresolved" ${status === 'unresolved' ? 'selected' : ''}>Unresolved</option>
                        <option value="ok" ${status === 'ok' ? 'selected' : ''}>OK</option>
                    </select>
                    <button type="button" onclick="updateSidewalk(${id})">Submit</button>
                </form>
            `;
        }

        function getInfoPopup(sidewalkData) {
            const [nextSweepStart, nextSweepEnd] = getFormattedSweepTimes(sidewalkData.next_sweep_at, sidewalkData.start_time, sidewalkData.end_time);

            return `
                <div id="popupInfo">
                    <strong>Street:</strong> ${sidewalkData.street_name} (${sidewalkData.side} side)<br/>
                    <strong>From:</strong> ${sidewalkData.from_street_name}<br/>
                    <strong>To:</strong> ${sidewalkData.to_street_name}<br/>
                    <strong>Next:</strong> ${nextSweepStart} to ${nextSweepEnd}<br/>
                </div>
            `;
        }

        function updateSidewalk(sidewalkId) {
            const accessToken = localStorage.getItem(authTokenKey);
            if (!accessToken) {
                console.error("Not authenticated");
                return;
            }

            var scheduleId = document.getElementById('schedule_id').value;
            var status = document.getElementById('sidewalk_status').value;

            fetch(`${serverUrl}/sidewalks/${sidewalkId}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${accessToken}`,
                },
                body: JSON.stringify({
                    schedule_id: scheduleId,
                    status: status,
                })
            })
            .then(response => {
                console.log(response)
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Success:', data.data);
                const updatedProperties = Object.entries(data.data).map(([key, value]) => {
                    return { key, value };
                });
                const updateRequest = {
                    update: [
                        {
                            id: sidewalkId,
                            addOrUpdateProperties: updatedProperties,
                        }
                    ],
                };
                console.log(updateRequest)
                const source = map.getSource('sidewalks');
                source.updateData(updateRequest);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        async function fetchCurrentUser() {
            const accessToken = localStorage.getItem(authTokenKey);
            if (!accessToken) {
                return Promise.reject(null);
            }

            fetch(`${serverUrl}/me`, {
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${accessToken}`
                },
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Success:', data.data);
                return Promise.resolve(data.data);
            })
            .catch(error => {
                console.error('Error:', error);
                handleLogout();
                return Promise.reject(null);
            })
        }

        // var user;

        // // login stuff
        // var modal = document.getElementById("loginModal");
        // var modalCloseButton = document.getElementsByClassName("close")[0];
        // var loginButton = document.getElementById("loginButton");
        // var authedOverlay = document.getElementById("authedOverlay");
        // var logoutButton = document.getElementById("logoutButton");
        // var switchRegisterButton = document.getElementById("switchRegisterButton");
        // var switchLoginButton = document.getElementById("switchLoginButton");
        // var registerForm = document.getElementById("registerForm");
        // var loginForm = document.getElementById("loginForm");
        // var registerError = document.getElementById("registerError");
        // var loginError = document.getElementById("loginError");

        // async function handleLogin(token) {
        //     localStorage.setItem(authTokenKey, token);
        //     try {
        //         user = await fetchCurrentUser();
        //         showAuthedUI();
        //     } catch (error) {
        //         console.error('Error:', error);
        //         // Handle the error and provide feedback to the user
        //     }
        // }

        // async function handleLogout() {
        //     localStorage.removeItem(authTokenKey);
        //     showUnauthedUI();
        //     if (isEditMode) {
        //         setNormalMode();
        //     }
        // }

        // function showUnauthedUI() {
        //     showLoginButton();
        //     hideAuthedOverlay();
        // }

        // function showAuthedUI() {
        //     showLogoutButton();
        //     showAuthedOverlay();
        // }

        // function showAuthedOverlay() {
        //     authedOverlay.style.display = "block";
        //     modal.style.display = "none";

        // }

        // function hideAuthedOverlay() {
        //     authedOverlay.style.display = "none";
        // }

        // function showLoginButton() {
        //     loginButton.style.display = "block";
        //     logoutButton.style.display = "none";
        // }

        // function showLogoutButton() {
        //     logoutButton.style.display = "block";
        //     loginButton.style.display = "none";
        // }

        // function switchToRegister() {
        //     registerForm.style.display = "block";
        //     loginForm.style.display = "none";
        //     switchLoginButton.style.display = "block";
        //     switchRegisterButton.style.display = "none";
        // }

        // function switchToLogin() {
        //     registerForm.style.display = "none";
        //     loginForm.style.display = "block";
        //     switchLoginButton.style.display = "none";
        //     switchRegisterButton.style.display = "block";
        // }

        // Hide the authed overlay when the page loads if the user is not authenticated
        // window.onload = async function() {
        //     const token = localStorage.getItem(authTokenKey);
        //     if (token) {
        //         await handleLogin(token);
        //     } else {
        //         showUnauthedUI();
        //     }
        // }

        // // Show the login modal when the login button is clicked
        // loginButton.onclick = function() {
        //     modal.style.display = "block";
        // }

        // logoutButton.onclick = function() {
        //     handleLogout();
        // }

        // switchRegisterButton.onclick = switchToRegister;

        // switchLoginButton.onclick = switchToLogin;

        // // when the user clicks on <span> (x), close the modal
        // modalCloseButton.onclick = function() {
        //     modal.style.display = "none";
        // }

        // // when the user clicks anywhere outside of the modal, close it
        // window.onclick = function(event) {
        //     if (event.target == modal) {
        //         modal.style.display = "none";
        //     }
        // }

        // // login form submission
        // loginForm.onsubmit = function(event) {
        //     loginError.textContent = "";
        //     event.preventDefault();
        //     var username = document.getElementById("loginUsername");
        //     var password = document.getElementById("loginPassword");

        //     fetch(`${serverUrl}/login`, {
        //         method: 'POST',
        //         headers: {
        //             'Content-Type': 'application/json',
        //         },
        //         body: JSON.stringify({
        //             username: username.value,
        //             password: password.value,
        //         })
        //     }).then((response) => {
        //         if (!response.ok) {
        //             return response.json().then((body) => {
        //                 throw body.errors;
        //             });
        //         }
        //         return response.json();
        //     }).then((data) => {
        //         username.value = "";
        //         password.value = "";
        //         handleLogin(data.access_token);
        //     }).catch((errors) => {
        //         console.error('Login error:', errors);
        //         loginError.innerHTML = errors.join("<br>");
        //     });
        // }

        // // register form submission
        // registerForm.onsubmit = function(event) {
        //     registerError.textContent = "";
        //     event.preventDefault();
        //     var username = document.getElementById("registerUsername");
        //     var email = document.getElementById("registerEmail");
        //     var password = document.getElementById("registerPassword");

        //     fetch(`${serverUrl}/register`, {
        //         method: 'POST',
        //         headers: {
        //             'Content-Type': 'application/json',
        //         },
        //         body: JSON.stringify({
        //             username: username.value,
        //             email: email.value,
        //             password: password.value,
        //         })
        //     }).then((response) => {
        //         if (!response.ok) {
        //             return response.json().then((body) => {
        //                 throw body.errors;
        //             });
        //         }
        //         return response.json();
        //     }).then((data) => {
        //         username.value = "";
        //         email.value = "";
        //         password.value = "";
        //         switchToLogin();
        //     }).catch((errors) => {
        //         console.error('Register error:', errors);
        //         registerError.innerHTML = errors.join("<br>");
        //     });
        // }
    </script>
    
</body>
</html>
